@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: 
        auto
        1fr
        auto
    ;
    overflow-x: hidden;

    font-family: Poppins, sans-serif;
    height: fit-content;
}


.container {
    max-width: 1200px;
    margin-inline: auto;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
}

header {
    /* background: blue; */
    position: fixed;
    top: 0;
    /* left: 50%;
    margin-left: -600px; */
    z-index: 5;
    /* background: red; */
    width: 100%;
    transition: 300ms all linear;
}

.scrolled {
    box-shadow: 0 0 3px #33333369;
    background: #fff;
}

header .logo {
    display: grid;
    grid-template-areas: 'logo';
}

header .logo > * {
    grid-area: logo;
    transition: 300ms all linear;
}

header .logo img:nth-child(2){
    transform: scale(.8);
}

header .logo img:nth-child(1){
    transform: scale(1.5) rotate(-3deg);
    transition: 300ms all linear;
}

header .logo img{
    height: 80px;
}

header nav {
    display: flex;
    gap: 1rem;
}

header nav a {
    padding: 1rem;
    color: #d4d4d4;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 200ms all linear;
}

header nav a:hover {
    box-shadow: inset 0 -5px 0 #fff;
    color: #fff;
    /* transform: translateY(-5px); */
}


main {
    background: #fff;
}

.hero {
    width: 100%;
    /* background: red; */
    height: fit-content;
    margin-inline: auto;
    display: grid;
    grid-template-areas: 'stack';
    height: 100vh;
    overflow: hidden;
}

.hero .overlay,
.hero video {
    width: 100vw;
    /* aspect-ratio: 16 / 9; */
    height: 100vh;
    object-fit: cover;
}

/* 
.hero video:nth-child(2) {
    opacity: .5;
} */

.overlay {
    background: rgba(85, 31, 22, 0.5);
}

/* .hero img {
    object-fit: cover;
    opacity: .5;
} */

.hero > * {
    grid-area: stack;
}

.even_columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 100%;
    margin-inline: auto;
    max-width: 1200px;
}

.place_end {
    place-items: end;
}

.place_center {
    place-items: center;
}

.center_text {
    /* border: 1px solid lightgray; */
    padding: 1rem;
    transform: translateY(-50%);
}

.center_text p {
    font-size: 2rem;
    color: #fff;
    /* background: #fff; */
    padding: 1rem;
    text-shadow: 3px 3px 3px #000;
}

.center_text h1 {
    font-size: 5rem;
    padding: 1rem 3rem;
    background: #111;
    color: #fff;
}

#rizal {
    height: 700px;
    /* border-radius: 50%; */
    object-fit: contain;
}

section {
    /* border: 1px solid black; */
    width: 100%;
    padding: 5rem;
    height: fit-content;
    overflow: hidden;
}

.section_title {
    font-size: 2rem;
}


.rizal_desc p {
    width: 100%;
    text-align: justify;
    padding: 1rem 0;
}

.works {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.work {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.work img {
    width: 100%;
    aspect-ratio: 3 / 4;
    border: 1px solid black;
}

footer {
    background: #333;
    padding: 1rem;
}

footer p {
    color: #fff;
    font-size: .8rem;
}